.group:hover h1 {
  opacity: 1;
}

.guestlist {
  background-color: #7e8d85;
  display: inline-flex;
  flex-direction: column;
  border: 2px solid #3c493f;
  border-radius: 6px;
  width: 18vw;
  margin: 12px;
  align-items: center;
  text-align: center;
  padding: 10px;
}
.delete-button {
  border: 2px solid black;
  border-radius: 3px;
  padding: 3px;
}
.details {
  text-decoration: underline;
}

.groupform {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.groupBody {
  padding-right: 50%;
}

.groupImg {
  display: flex;
  position: absolute;
  top: 0%;
  right: 17%;
  height: 90%;
  padding: 0px;
  opacity: 0.6;
  z-index: -1;
  opacity: 0.4;
}

/* .ermImg {
    position: absolute;
    height: 140%;
    right: 12%;
    top: 0%;
    border: 2px solid rgb(92, 91, 91);
  } */

/* Leave below if we go back to 4 tiles */
/* .group {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: 700;
  align-items: flex-end;
  position: absolute;
  will-change: transform, width, height, opacity;
  opacity: 1;
  width: 25.125rem;
  height: 300px;
  z-index: 1;
  transform: translate3d(820px, 6px, 0px);
  background-color: #e3d1a7;
  transition: 1s;
} */

.group {
  display: flex;
  align-items: flex-end;
  position: absolute;
  will-change: transform, width, height, opacity;
  opacity: 1;
  width: 25.125rem;
  height: 300px;
  z-index: 1;
  transform: translate3d(1227px, 6px, 0px);
  background-color: #f0f7f4;
  border-radius: 5%;
  transition: 1s;
}

.group:hover h1 {
  opacity: 1;
}
.group:hover img {
  opacity: 1;
}

.groupBig {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 1634px;
  height: 614px;
  background-color: #f0f7f4;
  border-radius: 3%;
  transition: 1s;
}
.groupBig h1 {
  opacity: 1;
}

.groupShow {
  display: flex;
  position: relative;
  transition: 1.5s;
  animation-name: fadeIn;
  animation-duration: 2s;
}
/* 
.groupInputs {
  display: flex;
  flex-direction: column;
} */

.emailInputs {
  display: flex;
  flex-direction: column;
}
