.tripInfoDetail {
  padding-left: 4rem;
  padding-right: 4rem;
}

.travel {
  display: flex;
  position: absolute;
  top: 25%;
  right: 15%;
  height: 50%;
  padding: 0px;
  opacity: 0.6;
  z-index: -1;
  opacity: 0.5;
}

.tripInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  will-change: transform, width, height, opacity;
  opacity: 1;
  width: 25.125rem;
  /* --- change below for 4x4 tiles --- */
  /* height: 360px; */
  height: 602px;
  z-index: 1;
  transform: translate3d(6px, 6px, 0px);
  background-color: #f0f7f4;
  border-radius: 5%;
  transition: 1s;
}
.tripInfo:hover h1 {
  opacity: 1;
}
.tripInfo:hover img {
  opacity: 1;
}

.tripInfoBig {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 1634px;
  height: 614px;
  background-color: #f0f7f4;
  border-radius: 3%;
  transition: 1s;
}

.tripInfoBig img {
  border-radius: 10%;
  border: 8px solid #b3d1c2;
  max-height: 15rem;
}

.tripInfoBig h1 {
  opacity: 1;
}

.tripInfoShow {
  display: flex;
  position: relative;
  transition: 1.5s;
  animation-name: fadeIn;
  animation-duration: 2s;
}

li {
  display: flex;
  font-size: larger;
  font-weight: 700;
  padding: 10px;
}

.tripSummary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-members {
  display: flex;
  flex-direction: row;
  margin: 15px;
  justify-content: space-around;
}

.person {
  border: 2px solid black;
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
}
