.tripInfoDetail {
  padding-left: 4rem;
  padding-right: 4rem;
}

/* .travel {
  display: flex;
  position: absolute;
  top: 112%;
  right: 0%;
  height: 50%;
  padding: 0px;
  opacity: 0.6;
} */

.travel {
  display: flex;
  position: absolute;
  top: 15%;
  right: 20%;
  height: 75%;
  padding: 0px;
  opacity: 0.6;
  z-index: -1;
  opacity: 0.5;
}

/* .computerSmall:hover {
    opacity: 1;
  } */
/*AboutMe*/
.tripInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  will-change: transform, width, height, opacity;
  opacity: 1;
  /* width: 402px; */
  width: 25.125rem;
  height: 360px;
  z-index: 1;
  transform: translate3d(6px, 6px, 0px);
  background-color: #e3d1a7;
  transition: 1s;
}
.tripInfo:hover h1 {
  opacity: 1;
}
.tripInfo:hover img {
  opacity: 1;
}

.tripInfoBig {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 1634px;
  height: 614px;
  background-color: #e3d1a7;
  transition: 1s;
}

.tripInfoBig h1 {
  opacity: 1;
}

/* AboutMe Details */
.tripInfoShow {
  display: flex;
  position: relative;
  transition: 1.5s;
  animation-name: fadeIn;
  animation-duration: 2s;
}

.tripCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  display: flex;
  font-size: larger;
  font-weight: 700;
}
