.entertainmentInfo {
  display: flex;
  align-items: flex-end;
  position: absolute;
  will-change: transform, width, height, opacity;
  opacity: 1;
  width: 25.125rem;
  height: 298px;
  z-index: 1;
  transform: translate3d(820px, 310px, 0px);
  background-color: #f0f7f4;
  border-radius: 5%;
  transition: 1s;
}
.entertainmentInfo:hover h1 {
  opacity: 1;
}

.entertainmentInfoDetail {
  padding-left: 4rem;
  padding-right: 4rem;
}

.entertainmentInfoSmall {
  display: flex;
  position: absolute;
  top: 8%;
  right: 5%;
  height: 35%;
  padding: 0px;
  opacity: 0.6;
  z-index: -1;
  opacity: 0.5;
}

.entertainmentInfo Small:hover {
  opacity: 1;
}
/*AboutMe*/

.entertainmentInfo:hover h1 {
  opacity: 1;
}
.entertainmentInfo:hover img {
  opacity: 1;
}

.entertainmentInfoBig {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 1634px;
  height: 700px;
  background-color: #f0f7f4;
  border-radius: 3%;
  transition: 1s;
  bottom: 25px;
}

.entertainmentInfoBig h1 {
  opacity: 1;
}

.entertainmentInfoShow {
  display: flex;
  position: relative;
  transition: 1.5s;
  animation-name: fadeIn;
  animation-duration: 2s;
}

.entertainmentStyle {
  display: flex;
  position: absolute;
  top: 2rem;
  right: 3rem;
  height: 13rem;
  opacity: 0.6;
}

/* .Xresume {
      max-width: 65px;
      position: absolute;
      top: -7rem;
      right: -101rem;
    }
     */

.img {
  width: 20px;
}

.yelpdiv {
  background-color: #7e8d85;
  display: inline-flex;
  inline-size: 65%;
  /* flex-direction: row; */
  /* align-items: center; */
  border: 2px solid #3c493f;
  border-radius: 6px;
  width: 25%;
  /* height: 30%; */
  margin-left: 1.2vw;
  margin-right: 1.2vw;
  margin-top: 1vw;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.yelplink:hover {
  text-decoration: underline;
  font-weight: bolder;
  font-style: italic;
}

.yelpinfo {
  text-decoration: underline;
}
