.planningBody {
  display: flex;
  margin: auto;
  width: 100%;
  overflow: hidden;
  min-height: 100%;
  height: 714px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.planpage {
  text-decoration: underline;
  margin-right: 10%;
}
.planpage:hover {
  color: #a2e3c4;
}

planningBody h1 {
  opacity: 0.5;
}

.hidden {
  display: none;
  transition: 1.5s;
}

.githubLink {
  max-width: 75px;
  max-height: auto;
  opacity: 0.6;
  padding-right: 1%;
}

.githubLink:hover {
  opacity: 1;
}

.urlLink {
  max-width: 75px;
  max-height: auto;
  opacity: 0.6;
}
.urlLink:hover {
  opacity: 1;
}

.X {
  max-width: 65px;
  position: absolute;
  top: 8.5%;
  right: 3.5%;
  z-index: 20;
  transition: 2s;
  animation-name: fadeIn;
  animation-duration: 2s;
  border: 2px solid #3c493f;
  border-radius: 6px;
}

.X:hover {
  cursor: pointer;
  background-color: red;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.padding {
  padding: 15px;
  line-height: 0px;
}
