.flightStatus {
  display: flex;
  align-items: flex-end;
  position: absolute;
  will-change: transform, width, height, opacity;
  opacity: 1;
  width: 25.125rem;
  height: 298px;
  z-index: 1;
  transform: translate3d(413px, 310px, 0px);
  background-color: #f0f7f4;
  border-radius: 5%;
  transition: 1s;
}

.flight-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flightlist {
  background-color: #7e8d85;
  display: inline-flex;
  flex-direction: column;
  border: 2px solid #3c493f;
  border-radius: 6px;
  width: 12vw;
  margin: 12px;
  align-items: center;
  text-align: center;
  padding: 10px;
}
.delete-button {
  border: 2px solid black;
  border-radius: 3px;
  padding: 3px;
}
.delete-button:hover {
  color: #a2e3c4;
}

.flightform {
  display: inline-flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.details {
  text-decoration: underline;
}

.details:hover {
  font-size: x-large;
  background-color: #f0f7f4;
}

.flightStatus:hover h1 {
  opacity: 1;
}

.flightStatusDetail {
  padding-left: 4rem;
  padding-right: 4rem;
}

.flightStatusSmall {
  display: flex;
  position: absolute;
  top: 8%;
  right: 5%;
  height: 35%;
  padding: 0px;
  opacity: 0.6;
  z-index: -1;
  opacity: 0.5;
}

.flightStatus Small:hover {
  opacity: 1;
}
/*AboutMe*/

.flightStatus:hover h1 {
  opacity: 1;
}
.flightStatus:hover img {
  opacity: 1;
}

.flightStatusBig {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 1634px;
  height: 614px;
  background-color: #f0f7f4;
  border-radius: 5%;
  transition: 1s;
}

.flightStatusBig h1 {
  opacity: 1;
}

.flightStatusShow {
  display: flex;
  position: relative;
  transition: 1.5s;
  animation-name: fadeIn;
  animation-duration: 2s;
}

.flightStatusImg {
  display: flex;
  position: absolute;
  top: -5rem;
  right: -57rem;
  height: 30rem;
}

.Xresume {
  max-width: 65px;
  position: absolute;
  top: -7rem;
  right: -101rem;
}

.flightInputs {
  display: flex;
  flex-direction: column;
}

.emergencyContacts {
  display: flex;
  flex-direction: column;
}

.phoneInputs {
  display: flex;
  flex-direction: column;
}
