html {
  position: relative;
}

body {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: bold;
  font-size: large;
  text-align: center;
  padding: 10px;
  @apply bg-slate-800;
  background-color: #b3bfb8;
}
